.player{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  background-color: rgb(110, 110, 110);
  border-radius: 0 50px 50px 0;

  &.playerActive{
    background-color: rgb(103, 58, 183) ;
  }

  span{
    margin-left: 16px;
    font-size: 24px;
    color: white;
  }

  img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    object-fit: cover;
  }
}


@media screen and (max-width: 600px) {
  .player{
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    background-color: rgb(110, 110, 110);
    border-radius: 0 0px 50px 50px;
  
      span{
      margin-left: 0px;
      font-size: 12px;
      color: white;
      text-align: center;
    }
  
    img{
      width: 24px;
      height: 24px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}