<button mat-mini-fab color="primary" class="button-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

@for (player of game.players; track $index) {
  <app-player class="player-position" [ngStyle]="{'top.px': 85 * $index + 130}" [name]="player"
    [playerActive]="game.currentPlayer === $index"></app-player>
}
@if (game.discard.length > 0) {
  <app-card [card]="game.discard[game.discard.length - 1]" class="mission"></app-card>
}

<div class="field">
  <div class="card-stack">
    @for (card of game.discard; track $index) {
      <img ngClass="playedCard" src="{{card.src}}" alt="" [ngStyle]="{'left.px': game.stack.length + $index }">
    }
    @for (card of game.stack; track card; let i = $index) {
      <img [ngStyle]="{'left.px': i}" src="assets/img/cards/purple_back.png" alt="">
    }
    @if (game.stack.length > 0) {
      <img (click)="turnAndNextPlayer()" [ngStyle]="{'left.px': game.stack.length }"
        src="assets/img/cards/purple_back.png">
    }
    <img ngClass="turnCard" *ngIf="turnCardAnimation" [src]="imageSrc" class="turnCard"
      [ngStyle]="{'left.px': game.stack.length}">
  </div>
</div>